.panel-interno {
  width: 100%;
  max-width: 1600px; /* Ancho máximo para pantallas grandes */
  background-color: rgba(255, 255, 255, 0.08);
  padding: 40px 60px;
  border-radius: 20px;
  margin: 40px auto; /* Centrado horizontal */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  display: block;
  box-sizing: border-box;
}

.panel-filtros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tabla-container {
  overflow-x: auto;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

/* Estilo de celdas */
.tabla th,
.tabla td {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Cabecera */
.tabla th {
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
}

/* Fondo inicial para todas las filas (thead y tbody) */
.tabla thead tr,
.tabla tbody tr {
  background-color: rgba(0, 123, 255, 0.3); /* azul inicial */
}

/* Hover uniforme para todas las filas */
.tabla thead tr:hover,
.tabla tbody tr:hover {
  background-color: rgba(0, 123, 255, 0.5); /* azul más intenso al pasar el cursor */
}

.tabla select,
.tabla input {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  border: none;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
}

.tabla input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-contenido {
  background: #003366;
  padding: 25px;
  border-radius: 15px;
  color: #fff;
  width: 90%;
  max-width: 500px;
  text-align: left;
}

.modal-contenido h3 {
  margin-bottom: 10px;
}

.modal-contenido ul {
  list-style: none;
  padding-left: 0;
}

.modal-contenido li {
  margin-bottom: 6px;
  font-size: 14px;
}
